<div class="container">
    <h1 class="text-center"> Greenspace </h1>
    <h2 class="text-center"> Quiz </h2>
</div>

<div class="container text-center">
    <div class="jumbotron">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad atque in dolorum, eum sequi maxime, et eius fugit laudantium incidunt aut molestias distinctio aliquam debitis facilis quasi odio deleniti.</p>
     <button ng-click="start()" class="btn btn-large btn-default  btn-primary">Begin</button>
    </div>
</div>