<div class="container">
    <h1 class="text-center"> Greenpeace </h1>
    <h2 class="text-center"> Summary </h2>
</div>
<div class="container">
<div class="jumbotron">
<dl>
  
  <dd class="percentage percentage-11"><span class="text">Animals : 11.33%</span></dd>
  <dd class="percentage percentage-49"><span class="text">Colors: 49.77%</span></dd>
  <dd class="percentage percentage-16"><span class="text">Travel: 16.00%</span></dd>
  <dd class="percentage percentage-23"><span class="text">Others 23%</span></dd>
</dl>

<div class="container text-center">
     <a href="#!/" class="btn btn-large btn-default  btn-success">Home</a>
</div>

</div>
</div>